html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  height: 100vh;
}
*::after,
*::before,
* {
  box-sizing: inherit;
}

/* SPLIT_PANE_BEGIN */
.split-pane {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.dragbar {
  min-width: 12px;
  height: 100%;
  background-color: black;
  cursor: col-resize;
}

.sp-item {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}
/* SPLIT_PANE_END */
